div {
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid;
}
.gal {
  display: flex;
  list-style-type: none;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
